<ion-view view-title="Venue List">
  <ion-content>
    
  <div class="list">
  
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" ng-model="ctrl.search" 
        ng-change="ctrl.getVenues()" placeholder="Search for a place"
        >
      </label>
      <button ng-click="ctrl.getVenues()" id="btn_getVenues" class="button button-small">
        Submit
      </button>
     <div ng-if="!ctrl.details">
        Loading ...
     </div>
    </div>
  
  </div>
    <!-- content goes here -->
    <ion-list ng-repeat='group in ctrl.details.groups'>
      <ion-item ng-repeat ="item in group.items" 
        class="item-remove-animate item-icon-left"
        type="item-text-wrap">
        <i class="icon ion-beer"></i>
        <h2>{{item.venue.name}}</h2>
        <p>Rating: {{item.venue.rating}} | Likes: {{item.venue.stats.usersCount}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    
    </ion-list>

  </ion-content>
</ion-view>
