<ion-view view-title="List">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-icon-left"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <i class="icon ion-person-stalker"></i>
        <h2>Kensington Gardens</h2>
        <p>Rating: 2312313 | Like: 313623576</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    <ion-item
        class="item-remove-animate item-icon-left"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <i class="icon ion-person-stalker"></i>
        <h2>Hyde Park Square</h2>
        <p>Rating: 121123 | Like: 32424234324</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
